<%- include('partials/header') %>

<div class="main-content">
    <main>
        <h1><%= languageData.home.firsttitle %><br><span><%= languageData.home.secondtitle %></span></h1>
        <p><%= languageData.home.description %></p>
    </main>
    <main>
        <h1>What is the purpose of the service ?</h1>
        <p>This service allows you to play online again on the Nintendo 3DS and Nintendo Wii U with all the games that support online. 
            <br>We will probably do it for the Nintendo Switch when it closes, but it is not sure.</p>
    </main>
</div>
<script src="/js/script.js"></script>

<%- include('partials/footer') %>